@font-face {
	font-family: 'Wonderbar';
	src: url('./assets/fonts/Wonderbar.otf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



:root {
	background-color: rgb(201, 201, 201);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
	background-color: #392759;
	padding: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #E8F0FF;
}

.header-logo {
	font-family: 'Wonderbar';
	font-size: 2rem;
	font-weight: bold;
}

.header-tabs {
	display: flex;
	font-size: 1.25rem;
	gap: 1rem;
}

.tab-indiv {
	font-family: 'Wonderbar';
	font-size: 1.5rem;
	background-color: transparent;
	border: 0;
	color: #E8F0FF;
}

.tab-indiv:hover {
	text-decoration: underline;
	color: #6874E8;
	cursor: pointer;
}

.page {
	min-height: calc(100vh - 8rem);
}

.home-page {
	background-image: url("./assets/images/Pizzeria_Bianco_dining_room.webp");
	background-repeat: no-repeat;
	background-size: auto 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	-webkit-text-stroke: 2px black;
	text-align: center;
	gap: 1rem;
}

.home-page > h1 {
	font-size: 2.5rem;
	font-weight: bold;
}

.home-page > p {
	font-size: 2rem;
	font-weight: bold;
}

.about-page-img-header {
	width: 100%;
	height: 30vh;
	background-image: url("./assets/images/pizzanista.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.about-page-header {
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: bold;
	color: #7A5C61;
}

.about-page-text {
	width: 45%;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 2rem;
}